
    <div data-component="StockLeft" data-product-id="{{ product.id }}"></div>

  <p class="free-shipping">Free Shipping Over $100</p>
  <style>
    .StockLeft .free-shipping {
      display: none !important;
    }
  
    .free-shipping {
      font-size: 0.9em;
      color: #1f2c41;
      font-weight: 600;
      text-align: center;
      background: #fffcfa;
      margin: 0 !important;
      padding: 0 !important;
    }
  </style>