$color-ui-navy: #1f2c41;
$color-ui-red: #de0d37;
$color-muted-light: #f7f7f7;
$color-text-neutral: #858585;
$color-text-muted: #949ea8;
$color-text-base: #5e5e5e;

.Panel {
	display: grid;
	margin-top: calc(1.525rem + 2.475vw);
	margin-bottom: calc(1.525rem + 2.475vw);
	min-width: 0vw;
	column-gap: 2rem;

    &[data-layout*=media-content] {
        grid-template-areas: "media" "content";
    }

    &[data-layout*=content-media] {
        grid-template-areas: "media" "content"
    }
}
.Panel
.Panel__media {
	grid-area: media;
}
.Panel__content {
	align-self: center;
	padding: calc(1.325rem + .675vw) 0rem;
	min-width: 0vw;
	grid-area: content;

    h3 {
        font-size: 27px;
        font-weight: 700;
    }

    p, li {
        color: #5e5e5e;
        font-size: 19px
    }
}
@media (min-width: 1600px) {
	.Panel {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	.Panel__content {
		padding: 2rem 0rem;

        h3 {
            font-size: 40px;
        }
	}
}
@media (min-width: 768px) {
	.Panel[data-layout*=media-content] {
		grid-template-columns: 3fr 2fr;
		grid-template-areas: "media content";
	}
	.Panel[data-layout*=content-media] {
		grid-template-columns: 2fr 3fr;
		grid-template-areas: "content media";
	}
}
@media (min-width: 1024px) {
	.Panel__content {
		padding: calc(1.325rem + .675vw) calc(1.525rem + 2.475vw);
		min-width: 0vw;
	}
}
@media (min-width: 1024px)and (min-width: 1600px) {
	.Panel__content {
		padding: 2rem 4rem;
	}
}

.Loop--products {
    column-gap: .5rem;
    row-gap: .5rem;
    grid-template-columns: repeat(auto-fill,minmax(9rem,1fr))
}

@media (min-width: 600px) {
    .Loop--products {
        grid-template-columns:repeat(auto-fill,minmax(12rem,1fr))
    }
}

@media (min-width: 1024px) {
    .Loop--products {
        column-gap:1rem;
        row-gap: 1rem;
        grid-template-columns: repeat(auto-fill,minmax(16rem,1fr))
    }
}

.Card {
	display: grid;
	margin-top: calc(1.425rem + 1.575vw);
	margin-bottom: calc(1.425rem + 1.575vw);
	min-width: 0vw;
	grid-template-columns: 1fr;
	grid-template-areas: "media" "content";
	.Buttons {
		margin-top: auto;
		.Button {
			flex-grow: 1;
		}
	}
}
.Card[data-layout*=vertical] {
	grid-template-columns: 1fr;
	row-gap: 1rem;
	.Card__media {
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 100%;
			padding-top: 60%;
		}
		img {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.Card__media[data-layout*=image-contain] {
		img {
			object-fit: contain;
		}
	}
	.Card__details {
		text-align: center;
	}
}
.Card[data-layout*=vertical][data-layout*=media-content] {
	grid-template-areas: "media" "content";
	grid-template-rows: auto minmax(auto,1fr);
}
.Card[data-layout*=vertical][data-layout*=content-media] {
	grid-template-areas: "content" "media";
	grid-template-rows: minmax(auto,1fr) auto;
}
.Card.image-fill {
	.Card__media {
		img {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.Card__media {
	margin: 0;
	grid-area: media;
	position: relative;
	img {
		display: block;
		width: 100%;
	}
}
.Card__content {
	grid-area: content;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: padding 200 ease-out;
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
[data-layout*=horizontal] {
	.Card__content {
		align-self: center;
	}
}
[data-layout*=vertical] {
	.Card__content {
		justify-content: flex-start;
		height: 100%;
	}
}
.Card__meta {
	color: var($color-text-neutral);
}
.Card.Card--product {
	padding: 0;
	position: relative;
	background: var($color-muted-light);
	.Card__media {
		&:before {
			padding-top: 90%;
		}
	}
	[data-price-wrapper] {
		color: var($color-ui-navy);
		font-weight: 500;
		.compare_price {
			font-size: .9rem;
			color: var($color-text-muted);
			margin-right: .5em;
			text-decoration: line-through;
		}
	}
	.Badge {
		top: 0;
		left: 0;
		position: absolute;
		border: none;
		color: #fff;
		background: var($color-ui-red);
	}
	.Card__details {
		text-align: left;
		display: flex;
		flex-direction: column;
		padding: 1rem calc(1.325rem + .675vw) calc(1.325rem + .675vw);
		min-width: 0vw;
		.loox-rating {
			font-size: .9rem;
			margin: 1em 0;
		}
		[data-price-wrapper] {
			margin-top: auto;
		}
		[data-product-price] {
			font-size: 1.2rem;
		}
	}
	.Card__title {
		font-size: 1.1rem;
		a {
			font-weight: 500;
		}
	}
}
.Card.Card--product.options_hidden_product {
	display: none !important;
}
.Card.Card--collection {
	.Card__media {
		position: relative;
		a {
			display: block;
		}
		img {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			position: absolute;
			object-position: center;
			object-fit: cover;
		}
		&:before {
			padding-top: 90%;
		}
	}
}
.Card.Card--article {
	.Card__details {
		text-align: left;
		display: flex;
		flex-direction: column;
	}
	.Card__cta {
		margin-top: auto;
		a {
			font-size: .9rem;
			text-decoration: underline;
		}
	}
	h4.Card__title {
		font-size: calc(1.265rem + .135vw);
		min-width: 0vw;
	}
	p {
		font-size: .9rem;
	}
}
@media (min-width: 1600px) {
	.Card {
		margin-top: 3rem;
		margin-bottom: 3rem;

        &.Card--product {
            .Card__details {
                padding: 1rem 2rem 2rem;
            }
        }
        &.Card--article {
            h4.Card__title {
                font-size: 1.4rem;
            }
        }
	}
}
@media (min-width: 48em) {
	.Card[data-layout*=horizontal][data-layout*=media-content] {
		grid-template-areas: "media content";
		grid-template-columns: 1fr 1.4fr;
	}
	.Card[data-layout*=horizontal][data-layout*=media-content][data-layout*="70-30"] {
		grid-template-columns: 2fr 1fr;
	}
	.Card[data-layout*=horizontal][data-layout*=content-media] {
		grid-template-areas: "content media";
		grid-template-columns: 1.4fr 1fr;
	}
	.Card[data-layout*=horizontal][data-layout*=content-media][data-layout*="70-30"] {
		grid-template-columns: 1fr 2fr;
	}
	.Card__content {
		padding: calc(1.425rem + 1.575vw);
		min-width: 0vw;
	}
}
@media (min-width: 48em)and (min-width: 1600px) {
	.Card__content {
		padding: 3rem;
	}
}

.breadcrumb {
    ul {
        gap: 8px;
        font-size: 12px;	
        li {
            display: flex;
            gap: 6px;
            a {
                color: #1f2c41;
				font-weight: 400;
            }
        }
    }
}

@media (min-width: 1600px) {
    .js-product_section {
        gap: 50px;
        .one-half {
            width: 550px
        }
    }
}

@media (min-width: 1024px) {
    .js-product_section {
        gap: 20px;
        .one-half {
            width: 450px
        }

        .product__images {
            flex: 1;
            width: 100%
        }

        .product-block--first .product-title {
            font-size: 3rem;
            margin: 30px 0;
        }

        .product-gallery__thumbnails--bottom-thumbnails {
            display: none   ;
        }
    }

    .product-gallery__main {
        .flickity-viewport {
            height: auto !important;
        }

        .flickity-slider {
            position: static;
            transform: none !important;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            .product-gallery__image {
                position: static !important;
                visibility: visible !important;

                &:first-child {
                    grid-column: span 2;
                }
            }
        }

        .product-gallery__thumbnails {
            display: none;
        }
    }
}

@media (max-width: 1023px) {
    .js-product_section {
       flex-direction: column;
       .one-half {
           width: 100%;
           margin: 0 !important
       }

       .product-block--first .product-title {
            font-size: 3rem;
            margin: 30px 0;
        }

        .product-gallery__thumbnails--bottom-thumbnails {
            margin-top: 20px
        }

        .product__images {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 767px) {
    .js-product_section {
       .product-block--first .product-title {
            font-size: 1.5rem;
            margin: 16px 0;
        }
    }
}


.js-product_section {
	&.product_section{column-gap: clamp(2rem, 5vw, 6rem);}
    .product-block--first .product-title {
        color: $color-ui-navy
    }
    
    .price-ui {
        margin-top: 30px;
        
        shopify-payment-terms {
            display: none;
        }

        .money {
            font-size: 26px;
            font-weight: 500;
            color: $color-ui-navy
        }
    }

    .product-form-container {
        padding-top: 40px;
    }

    #cl_optionsapp .customily_option select {
        min-height: 58px;
    }

    .product-quantity-box {
        .minus-control,
        .plus-control {
            display: none;
        }

        .quantity-element {
            min-height: 58px;
        }

        .quantity-input {
            text-align: left;
            border: solid 1px #D3D3D3;
            padding: 4px 16px;
        }
    }

    .purchase-details{
        flex-direction: column;
        
        &.has-quantity-box-true .purchase-details__spb--false {
            max-width: 100%;
            width: 100%;
            margin-top: 30px;

            .button--add-to-cart {
                width: 100%;
                height: he;
                height: 80px;
            }

            .text {
                text-transform: capitalize !important;
                font-size: 24px !important;
                font-weight: 600 !important;
            }
        }
    }

    .product_form {
        form {
            display: flex;
            flex-direction: column;

            .variant-selection {
                order: -1;
            }
        }
    }   

    .swatch input:checked+.swatch-element {
        border-color: $color-ui-red;
        border-width: 2px;
        color: $color-ui-red;
    }

    .product__description {
        border-top: solid 1px #dbdbdc;
        margin-top: 34px;
        padding-top: 34px;

        .product__description--title {
            margin-bottom: 0;
            font-size: 20px;
            color: $color-ui-navy;
        }

        p , li {
            font-size: 19px;
            color: $color-text-base
        }
    }
}

.shipping-countdown {
    display: flex;
    margin: 2rem 0;
    align-items: center;
    color: #1f2c41;
    padding-bottom: 2rem;
	margin-bottom: 0;
    // border-bottom: 1px solid #dbdbdc;
}
.shipping-countdown .icon {
    font-size: calc(1.625rem + 4.5vw);
    min-width: 0vw;
    height: auto;
    margin-right: .8rem;
	width: 1em;
    height: 1em;
}

@media (min-width: 1200px) {
    .shipping-countdown .icon {
        font-size:5rem;
    }
}

.shipping-countdown .icon-wrapper {
    position: relative;
}

.shipping-countdown p {
    margin: 0;
    font-size: 1rem;
}

.shipping-countdown strong {
    font-weight: 400;
    color: #de0d37;
}

.shipping-countdown #deliverymessage {
    background: none;
    font-size: 1rem
}

.shipping-countdown #deliverymessage p {
    margin-top: 1em;
}

.shipping-countdown #deliverymessage p span {
    color: #de0d37;
}

.StockLeft {
    background-color: #fffcfa;
    text-align: center;
    padding: 1em;
}

.StockLeft p {
    margin: 0;
    color: #1f2c41;
    font-weight: 600;
}